.overall-area{
    display: grid;
    grid-template-columns: 6fr 2fr;
}
.activities-container{
    margin: 40px 40px;
}
.added-area{
    padding: 20px 20px 0 20px;
    background-color: #fff;
    
}
.info{
    position: sticky;
    top: 20px;
}
.icon{
    display: block;
}
@media (max-width: 910px) { 
    .overall-area{
        display: block;
    }
    .added-area{
        padding-bottom: 20px;

    }
    .icon{
        display: none;
     }
 }
 .img-size{
    width: 55px;
    height: 55px;
 }
 .title{
    display: flex;
    gap: 10px;
    align-items: center;
 }
